In [1]:
import pandas as pd

In [90]:
new_file=pd.read_csv('04_Data.csv')

In [91]:
new_file.head()

  Patient ID  Age        BMI     Diagnosis Blood Pressure
0      P0001   64  23.416480           NaN         119/66
1      P0002   49  30.539825           NaN         103/62
2      P0003   68  31.654859  Hypertension          98/70
3      P0004   22        NaN  Hypertension         117/87
4      P0005   42        NaN  Hypertension            NaN

In [92]:
print(new_file.dtypes)

Patient ID         object
Age                 int64
BMI               float64
Diagnosis          object
Blood Pressure     object
dtype: object

In [93]:
print(new_file.isnull().sum())

Patient ID         0
Age                0
BMI               14
Diagnosis          9
Blood Pressure     9
dtype: int64

In [94]:
new_file['BMI'].head()

0    23.416480
1    30.539825
2    31.654859
3          NaN
4          NaN
Name: BMI, dtype: float64

In [95]:
import numpy as np

In [96]:
new_file_mean=new_file['BMI'].mean()

In [99]:
new_file['BMI'].replace(np.nan,new_file_mean,inplace=True)

C:\Users\SAAD COMMUNICATION\AppData\Local\Temp\ipykernel_244\1434492802.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_file['BMI'].replace(np.nan,new_file_mean,inplace=True)

In [100]:
new_file.head(10)

  Patient ID  Age        BMI     Diagnosis Blood Pressure
0      P0001   64  23.416480           NaN         119/66
1      P0002   49  30.539825           NaN         103/62
2      P0003   68  31.654859  Hypertension          98/70
3      P0004   22  27.203652  Hypertension         117/87
4      P0005   42  27.203652  Hypertension            NaN
5      P0006   29  27.203652  Hypertension         139/81
6      P0007   21  20.154990      Diabetes         115/60
7      P0008   51  21.675982           NaN         137/65
8      P0009   42  31.285261           NaN         123/71
9      P0010   35  33.454012           NaN            NaN

In [101]:
new_file['Blood Pressure'].fillna(method='ffill', inplace=True)

C:\Users\SAAD COMMUNICATION\AppData\Local\Temp\ipykernel_244\607961052.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_file['Blood Pressure'].fillna(method='ffill', inplace=True)
C:\Users\SAAD COMMUNICATION\AppData\Local\Temp\ipykernel_244\607961052.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  new_file['Blood Pressure'].fillna(method='ffill', inplace=True)

In [105]:
new_file['Blood Pressure'].head(7)

0    119/66
1    103/62
2     98/70
3    117/87
4    117/87
5    139/81
6    115/60
Name: Blood Pressure, dtype: object

In [106]:
new_file_diagnosis = new_file.dropna(subset=['Diagnosis'])

In [107]:
new_file['Diagnosis'].head()

0             NaN
1             NaN
2    Hypertension
3    Hypertension
4    Hypertension
Name: Diagnosis, dtype: object

In [108]:
new_file[['Systolic Pressure', 'Diastolic Pressure']] = new_file['Blood Pressure'].str.split('/', expand=True)

In [109]:
new_file['Systolic Pressure'] = pd.to_numeric(new_file['Systolic Pressure'])

In [110]:
new_file['Diastolic Pressure'] = pd.to_numeric(new_file['Diastolic Pressure'])

In [111]:
new_file.drop(columns=['Blood Pressure'], inplace=True)

In [112]:
new_file

,Patient ID,Age,BMI,Diagnosis,Systolic Pressure,Diastolic Pressure
0,P0001,64,23.416480,NaN,119,66
1,P0002,49,30.539825,NaN,103,62
2,P0003,68,31.654859,Hypertension,98,70
3,P0004,22,27.203652,Hypertension,117,87
4,P0005,42,27.203652,Hypertension,117,87
5,P0006,29,27.203652,Hypertension,139,81
6,P0007,21,20.154990,Diabetes,115,60
7,P0008,51,21.675982,NaN,137,65
8,P0009,42,31.285261,NaN,123,71
9,P0010,35,33.454012,NaN,123,71
10,P0011,62,27.203652,Diabetes,111,84
11,P0012,23,27.203652,Hypertension,117,75
12,P0013,46,27.203652,Hypertension,117,75
13,P0014,40,31.369513,Hypertension,102,69
14,P0015,27,27.203652,Diabetes,92,75
15,P0016,21,27.203652,NaN,92,75
16,P0017,69,27.203652,Hypertension,131,82
17,P0018,43,26.752736,Hypertension,131,82
18,P0019,23,27.885888,Hypertension,110,81
19,P0020,38,29.278378,Hypertension,110,81
20,P0021,63,23.506374,Diabetes,100,89
21,P0022,56,27.203652,Diabetes,100,89
22,P0023,43,29.850859,NaN,112,82
23,P0024,38,27.203652,NaN,92,60
24,P0025,35,27.203652,Hypertension,90,69
25,P0026,51,27.203652,Diabetes,113,70
26,P0027,65,23.628654,Diabetes,107,74
27,P0028,46,22.254053,NaN,107,74
28,P0029,39,28.550565,Hypertension,107,74
29,P0030,60,27.203652,Diabetes,137,75

In [116]:
max_BMI=new_file['BMI'].max()

In [117]:
min_BMI=new_file['BMI'].min()

In [118]:
new_file['BMI']=(new_file['BMI']-min_BMI)/(max_BMI-min_BMI)

In [119]:
new_file['BMI'].head()

0    0.245243
1    0.780872
2    0.864715
3    0.530014
4    0.530014
Name: BMI, dtype: float64

In [120]:
bin_labels = ['20-29', '30-39', '40-49']

In [121]:
bin_ranges = [20, 30, 40, 50]

In [122]:
new_file['Age Group'] = pd.cut(new_file['Age'], bins=bin_ranges, labels=bin_labels)

In [123]:
new_file = pd.get_dummies(new_file, columns=['Age Group'])

In [124]:
new_file

,Patient ID,Age,BMI,Diagnosis,Systolic Pressure,Diastolic Pressure,Age Group_20-29,Age Group_30-39,Age Group_40-49
0,P0001,64,0.245243,NaN,119,66,False,False,False
1,P0002,49,0.780872,NaN,103,62,False,False,True
2,P0003,68,0.864715,Hypertension,98,70,False,False,False
3,P0004,22,0.530014,Hypertension,117,87,True,False,False
4,P0005,42,0.530014,Hypertension,117,87,False,False,True
5,P0006,29,0.530014,Hypertension,139,81,True,False,False
6,P0007,21,0.000000,Diabetes,115,60,True,False,False
7,P0008,51,0.114369,NaN,137,65,False,False,False
8,P0009,42,0.836924,NaN,123,71,False,False,True
9,P0010,35,1.000000,NaN,123,71,False,True,False
10,P0011,62,0.530014,Diabetes,111,84,False,False,False
11,P0012,23,0.530014,Hypertension,117,75,True,False,False
12,P0013,46,0.530014,Hypertension,117,75,False,False,True
13,P0014,40,0.843259,Hypertension,102,69,False,True,False
14,P0015,27,0.530014,Diabetes,92,75,True,False,False
15,P0016,21,0.530014,NaN,92,75,True,False,False
16,P0017,69,0.530014,Hypertension,131,82,False,False,False
17,P0018,43,0.496108,Hypertension,131,82,False,False,True
18,P0019,23,0.581313,Hypertension,110,81,True,False,False
19,P0020,38,0.686019,Hypertension,110,81,False,True,False
20,P0021,63,0.252002,Diabetes,100,89,False,False,False
21,P0022,56,0.530014,Diabetes,100,89,False,False,False
22,P0023,43,0.729066,NaN,112,82,False,False,True
23,P0024,38,0.530014,NaN,92,60,False,True,False
24,P0025,35,0.530014,Hypertension,90,69,False,True,False
25,P0026,51,0.530014,Diabetes,113,70,False,False,False
26,P0027,65,0.261197,Diabetes,107,74,False,False,False
27,P0028,46,0.157836,NaN,107,74,False,False,True
28,P0029,39,0.631293,Hypertension,107,74,False,True,False
29,P0030,60,0.530014,Diabetes,137,75,False,False,False

In [125]:
new_file = pd.get_dummies(new_file, columns=['Diagnosis'])

In [126]:
new_file.head(50)

,Patient ID,Age,BMI,Systolic Pressure,Diastolic Pressure,Age Group_20-29,Age Group_30-39,Age Group_40-49,Diagnosis_Diabetes,Diagnosis_Hypertension
0,P0001,64,0.245243,119,66,False,False,False,False,False
1,P0002,49,0.780872,103,62,False,False,True,False,False
2,P0003,68,0.864715,98,70,False,False,False,False,True
3,P0004,22,0.530014,117,87,True,False,False,False,True
4,P0005,42,0.530014,117,87,False,False,True,False,True
5,P0006,29,0.530014,139,81,True,False,False,False,True
6,P0007,21,0.000000,115,60,True,False,False,True,False
7,P0008,51,0.114369,137,65,False,False,False,False,False
8,P0009,42,0.836924,123,71,False,False,True,False,False
9,P0010,35,1.000000,123,71,False,True,False,False,False
10,P0011,62,0.530014,111,84,False,False,False,True,False
11,P0012,23,0.530014,117,75,True,False,False,False,True
12,P0013,46,0.530014,117,75,False,False,True,False,True
13,P0014,40,0.843259,102,69,False,True,False,False,True
14,P0015,27,0.530014,92,75,True,False,False,True,False
15,P0016,21,0.530014,92,75,True,False,False,False,False
16,P0017,69,0.530014,131,82,False,False,False,False,True
17,P0018,43,0.496108,131,82,False,False,True,False,True
18,P0019,23,0.581313,110,81,True,False,False,False,True
19,P0020,38,0.686019,110,81,False,True,False,False,True
20,P0021,63,0.252002,100,89,False,False,False,True,False
21,P0022,56,0.530014,100,89,False,False,False,True,False
22,P0023,43,0.729066,112,82,False,False,True,False,False
23,P0024,38,0.530014,92,60,False,True,False,False,False
24,P0025,35,0.530014,90,69,False,True,False,False,True
25,P0026,51,0.530014,113,70,False,False,False,True,False
26,P0027,65,0.261197,107,74,False,False,False,True,False
27,P0028,46,0.157836,107,74,False,False,True,False,False
28,P0029,39,0.631293,107,74,False,True,False,False,True
29,P0030,60,0.530014,137,75,False,False,False,True,False